# Django core
django>=4.2
djangorestframework
djangorestframework-simplejwt

# Environment variables
django-environ
dj-database-url

# ASGI / WebSockets
channels
daphne

# Redis backend for Channels
channels-redis

# PostgreSQL driver
psycopg2-binary

# CORS
django-cors-headers

# Static files
whitenoise

# Deploy helpers
gunicorn
